################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomMSG
/CustomMSG/bin/Debug
/CustomMSG/obj/Debug
